body {
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--dark1);
}
.main {
  height: auto;
  min-height: 100vh;
  max-height: 100vh;
  /* border: 5px solid crimson; */
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
}
.main nav {
  display: flex;
  /* border: 1px solid lime; */
  width: 100%;
  justify-content: space-between;
  background-color: var(--dark2);
  z-index: 111111;
}
#logo > * {
  /* font-size: 2rem; */
  color: var(--gold2);
}

#result {
  text-align: center;
  font-size: 1.5rem;
  color: var(--color2d);
}
#reader {
  width: 600px;
  min-width: 300px;
  color: var(--color2d);
}

.a-info {
  width: 100vw;
  padding: 5vh 10vw;
  /* border: 2px solid gold; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12.5px;
}
.a-info .i-field > * {
  padding: 7.5px 15px;
}
.a-info .i-field {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  justify-content: flex-start;

  color: var(--color2d);
  border: 1.05px solid var(--bc-w);
  border-radius: 7px;
  overflow: hidden;

  width: 100%;
  /* background: crimson; */
  background: var(--dark3);
}

.a-info .i-field .i-l {
  flex-shrink: 0;
  min-width: 180px;
  display: flex;
}
.a-info .i-field .i-r {
  border-left: 1.05px solid var(--bc-w);
  background-color: var(--dark2) !important;
  /* background-color: lime; */
  text-transform: capitalize;
  width: 100%;
}
.ol-l {
  flex: 1;
}
.a-info .i-field .i-r {
  font-size: 0.9rem;
  letter-spacing: 1.2px;
  color: var(--gray2);
}
.i-r-dp img {
  height: 20vh !important;
  min-width: 100px;
}
.i-r-ad img {
  height: 30vh;
  min-width: 300px;
}
.i-r-s img {
  max-height: 12vh !important;
  min-width: 100px;
}
@media (max-width: 1000px) {
  .i-r-ad img {
    /* height: 30vh !important; */
    min-width: 300px;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 760px) {
  .a-info .i-field {
    flex-direction: column;
  }
  .i-r-ad img {
    /* height: 30vh !important; */
    min-width: 240px;
    width: 100%;
    height: auto;
  }
  .btn {
    padding: 10px 22px;
    border-radius: 3px;
  }
}
.sm {
  background: none;
  border: 1.5px solid var(--color2d);
  border-radius: 3px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
  /* margin-bottom: 20px; */
  padding: 7px 35px;
  gap: 7.5px;
  color: var(--color2d);
  border-color: var(--gold2);
  transition: 0.45s all ease-in-out;
}
.sm:hover {
  background-color: var(--gold2);
  /* border-radius: 9px; */
  color: var(--color3d);

  /* border: 0px; */
  /* font-weight: bold; */
}
.m-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.m-info > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
