#dark-t {
  --gold1: #ffc107;
  --gold2: #deab10;
  --gold3: rgba(255, 213, 0, 0.3);
  --dark1: #1e283e;
  --dark1: #141b2d;
  --dark2: #1f2940;
  --dark2-t: #1f2940e3;
  --dark3: #25314d;
  --color1d: #191923;
  --color2d: whitesmoke;
  --gray: rgb(190, 190, 190);
  --gray2: rgb(216, 216, 216);
  --tab-head: #2e2685;
  --id: #2e2685;
  --bc-w: rgba(245, 245, 245, 0.409);
  --sup-lft: rgba(40, 31, 11, 0.375);
  --p400: #4cceac;
  --p400: #4cceac;
}
#light-t {
  --gold1: rgb(0, 72, 255);
  --gold2: rgb(17, 74, 219);
  --gold3: rgba(0, 94, 255, 0.201);
  --dark1: rgba(223, 217, 255, 0.205);
  --dark2: rgb(241, 245, 255);
  --dark2-t: white;
  --dark3: rgb(255, 255, 255);
  --color1d: white;
  --color2d: #121212;
  --gray: #303030;
  --gray2: #252525;
  --tab-head: rgb(0, 72, 255);
  --id: #2e2685;
  --bc-w: rgba(28, 28, 28, 0.409);
  --sup-lft: rgb(3, 68, 220);
}
/* .light-t {
  --gold1: orangered;
  --gold2: rgb(232, 79, 23);
  --gold3: rgba(0, 94, 255, 0.201);
  --dark1: rgba(223, 217, 255, 0.205);
  --dark2: rgb(241, 245, 255);
  --dark2: rgb(234, 240, 255);
  --dark2: rgb(225, 234, 255);
  --dark2-t: white;
  --dark3: rgb(255, 255, 255);
  --color1d: white;
  --color2d: #121212;
  --gray: #303030;
  --gray2: #252525;
  --tab-head: orangered;
  --bc-w: rgba(28, 28, 28, 0.409);
  --sup-lft: rgb(255, 51, 0);
} */
/* .light-t footer,
.light-t aside header,
.light-t nav {
  background-color: rgb(255, 238, 231) !important;
} */
body {
  width: 100vw;
  overflow-x: hidden;
}
.App {
  width: 100vw;
  height: 100vh;
  /* color: rgb(225, 234, 255); */
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; */
}
main::-webkit-scrollbar {
  width: 2.5px;
}

main::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--gold3);
}

main::-webkit-scrollbar-thumb {
  background-color: var(--gold1);
  border-radius: 50px;
}
main {
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
}
#router {
  padding: 50px;
  display: flex;
  flex: 1;
  flex-direction: column;
  /* gap: 10vh; */
}
.btn {
  outline: none !important;
  border: none !important;
  color: var(--color1d);
  /* background-color: #f3bc18; */
  background-color: var(--gold2);
  padding: 13px 35px;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 0.9rem;
  position: relative;
  font-weight: 600;
  text-align: center;
  top: 10px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
.btn:hover {
  background-color: var(--gold1);
  /* transform: scale(1.05); */
  /* padding: 20px 48px; */
  /* animation: jump 0.7s infinite ease-in-out alternate; */
}
@media (max-width: 500px) {
  #router {
    padding: 5px;
  }
  .nn2 {
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start;
    gap: 5px !important;
  }
  .event-sec {
    justify-content: center;
  }
  .e-list {
    justify-content: space-evenly !important;
  }
  .error img {
    width: 90%;
    height: auto !important;
  }
}
body::-webkit-scrollbar {
  width: 2.5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 213, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--gold1);
  border-radius: 50px;

  /* outline: 1px solid #e1af16; */
}
a {
  text-decoration: none;
  color: var(--color2d);
}

.colorpicker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  height: 28px;
  width: 25px;
  border: none;
  cursor: pointer;
}
.colorpicker::-webkit-color-swatch {
  border-radius: 50%;
  border: 2px solid whitesmoke;
}
.colorpicker::-moz-color-swatch {
  border-radius: 50%;
  border: 2px solid whitesmoke;
  /* border: 7px solid #000000; */
}
.error {
  height: 100vh !important;
  width: 100vw !important;
  background: var(--dark2) !important;
  display: grid;
  place-items: center;
}
.error img {
  width: 75%;
  background: var(--dark2) !important;
}
.App main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.welcome {
  min-height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--color2d);
}
.welcome h1,
.welcome span {
  font-size: 3.7rem !important;
}
.welcome p {
  font-size: 1rem !important;
  letter-spacing: 1px;
  width: 90%;
}
